body {
  background-color: dodgerblue;
}
header {
height: 300px ;
width: 200px;
background-position: center;
background-repeat: no-repeat;
background-image: url("http://images.akamai.steamusercontent.com/ugc/351647207501844714/54E5254B746088200EDA78E9E5922717ED4323D4/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C268:268&composite-to%3D*%2C*%7C268%3A268&background-color=black");
} 
.inline_elements {
width: ;
float: left;
}
#main {
width: 200px;
float: right;
}
aside {
	width: 200px;
	float: left;
}
nav li {
list-style-type: none;
font-family: monospace; 
}
h1 {
	color: mediumaquamarine;
}